section{
    height:100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 15fr 1fr;
    overflow: hidden;
}

header {
    grid-row: 1 / 2;
}

main {
    grid-row: 2 / 3;
    max-height: 100%;
    overflow: auto;
}

footer {
    grid-row: 3 / -1;
}






