<div align="center" class="main">

    <div>
        <h3>About Us</h3>
        <h4>shopping online</h4>
        <p>The easy way to shop</p>
        <p>get inside and enjoy your shopping with us!</p>
    </div>

    <br>
    <br>
    <!-- nice carousel images -->
    <div>
        <ngb-carousel *ngIf="images">
            <ng-template ngbSlide *ngFor="let image of images" style="width: 100%" data-interval="1000">
                <img [src]="image" style="width: 100%; height: 200px;" alt="Random slide">
            </ng-template>
        </ngb-carousel>
    </div>
</div>